{
    "parser":"@typescript-eslint/parser",
    "parseroptions":{
        "echmaVersion":12,
        "sourceType":"module"
    },
    "plugins":["typescript-eslint"],
    "extends":["eslint:recommended","plugins:@typescript-eslint/recommended","prettier"],
    "rules":{
        "@typescript-eslint/no-unused-vars":"error",
        "typescript-eslint/consistent-type-definations":["error","type"]
    },
    "env":{
        "browser":true,
        "es2021":true
    }
}